
.container{
    border: 1px solid black;
    size: 40px;
    margin-left: 30rem;
    margin-right: 30rem;
}
input{
    height: 50px;
    width: 700px;
}
button{
    margin: 30px;
    padding: 20px;
    height: 50px;
}